ul.breadcrumb {
    padding: 10px 10px;
    list-style: none;
    background-color: #eee;
    height: 10px;
    
    
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 10px;
    float: left;
    
    
    
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
   
   
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }